<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>第一个HTML页面</title>
</head>
<body>
<h1>Hello Spring Boot!!!</h1>
<p th:text="${hello}"></p>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="/exam/random">考一下吧</a>
		</li>
		<li class="">
			<a href="/question">问题</a>
		</li>
		<li class="active">
			<a href="/myfavourite/list">我的收藏</a>
		</li>
	</ul> 
</div>
</body>
</html>