<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Add Question</title>
</head>
<body>
<div class="contentDiv">
	<form th:action="@{/question/create}" method="post" class="form-horizontal">
		
		<div class="form-group">
            <label for="question_content" class="col-sm-2 control-label">Question:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="content" th:value="${question.content}"
                       th:field="*{question.content}"/>
            </div>
        </div>
        
		<div class="form-group">
            <label for="question_type" class="col-sm-2 control-label">Type:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="type" th:value="${question.type}"
                       th:field="*{question.type}"/>
            </div>
        </div>
        
		<div class="form-group">
            <label for="question_level" class="col-sm-2 control-label">Level:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="level" th:value="${question.level}"
                       th:field="*{question.level}"/>
            </div>
        </div> 
               
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
            </div>
        </div>

</form>
</div>
</body>
</html>